.modelo-component2 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bold;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    margin-left: 3px;
    
    
    
    
}