@media screen and (min-width: 0px) and (max-width: 600px){
    .component-relacionados-principal{
        
        text-align: justify;
        font-size: 14pt;
        width: 100%;
        font-family: 'Roboto Slab', sans-serif; 
    
    }
    .recomendado-para-você{
        margin: 20px 0;
        background-color: rgb(253, 27, 27);
        padding: 10px;
        color: white;
        box-shadow: 3px 3px 5px gray;
    }
    .component-relacionados-principal-2{
        display: flex;
        justify-content: space-between;
    }
    .component-relacionados-div{
        width: 32%;
        margin: 0;
        padding: 0;
        
    }
    .component-relacionados-div a{
        text-decoration: none;
    }
    
    .div-da-imagem{
        width: 100%;
        height: 180px;
        text-align: justify;
    }
    
    .img-relacionados{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .component-relacionados-div-titulo{
        padding: 4px;
        font-size: 14px;
        text-align: justify;
        color: #616060;
        margin-top: 5px;
        font-weight: 600;
    }
    .component-relacionados-div-data{
        font-size: small;
        padding: 15px 0 0 4px;
        color: rgb(37, 37, 37);
    }
    }
    @media screen and (min-width: 601px){
        .component-relacionados-principal{
            margin: 50px auto;
            text-align: justify;
            font-size: 14pt;
            width: 80%;
            font-family: 'Roboto Slab', sans-serif; 
        
        }
        .recomendado-para-você{
            margin: 20px 0;
            background-color: rgb(253, 27, 27);
            padding: 10px;
            color: white;
            box-shadow: 3px 3px 5px gray;
        }
        .component-relacionados-principal-2{
            display: flex;
            justify-content: space-between;
        }
        .component-relacionados-div{
            width: 32%;
            margin: 0;
            padding: 0;
            
        }
        .component-relacionados-div a{
            text-decoration: none;
        }
        
        .div-da-imagem{
            width: 100%;
            height: 180px;
            text-align: justify;
        }
        
        .img-relacionados{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .component-relacionados-div-titulo{
            padding: 4px;
            font-size: 14px;
            text-align: justify;
            color: #616060;
            margin-top: 5px;
            font-weight: 600;
        }
        .component-relacionados-div-data{
            font-size: small;
            padding: 15px 0 0 4px;
            color: rgb(37, 37, 37);
        }
    
    }
