footer{
    font-family: 'Roboto Slab', sans-serif; 
    height: 250px;
    margin-top: 100px;
    background: linear-gradient(rgb(253, 24, 24), red);
    position: relative;
}

.div-footer{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;

     
}

.ul-1{
    padding: 0;
}
.ul-1 li{
    list-style: none;
    padding: 5px;
    font-size: 16pt;
}
.ul-2{
    padding: 0;
}
.ul-2 li{
    list-style: none;
    padding: 5px;
    font-size: 16pt;
}
.ul-2 li:hover{
    color:white;
    cursor: pointer;
}
.ul-1 li:hover{
    color:white;
    cursor: pointer;
}
.redes-sociais li {
    list-style: none;
    font-size: 22pt;
    cursor: pointer;
}
.redes-sociais li:hover {
    color: white;
    
    
}
footer span{
    position: absolute;
    bottom: 5%;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}