.div-principal{
    margin-bottom: 100px;
}
.div-principal span{
    display: block;

}


.div-principal__maior{
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

}
.div-principal__maior a{
    width: 100%;
    height: 100%;
}
.div-principal__maior img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s;
}
.div-principal__maior img:hover{
    transform: scale(1.05);
}
.div-principal__maior-primeira{
    height: 40px;
    width: 100%;
    display: flex;

}

.div-principal__maior-primeira-interno{
    width: 25%;
    flex: 1;
    height: 100%;
    position: relative;
    overflow: hidden;
    
    
}
.div-principal__maior-primeira-interno img{
    object-fit: cover;
    transition: 0.2s;
}
.div-principal__maior-primeira-interno img:hover{
    transform:scale(1.05)
}
.spacing-bottom{
    margin-bottom: 20px;
}
.spacing-right{
    margin-right: 5px;
}
.div-titulo{
    color: white;
    text-shadow: 2px 2px 2px black;
    position: absolute;
    overflow: hidden;
    bottom: 10%;
    left: 5%;
    font-size: 16pt;
    
}
.div-tipo{
    background-color: red;
    padding: 4px 10px;
    color: white;
    position: absolute;
    top: 5%;
    left: 5%;
    font-weight: bold;
}

.size{
    font-size: 22pt;
}